* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  font-family: Heebo, sans-serif;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 10px 5%;
  background: aliceblue;
  box-shadow: grey 10px 10px 10px;
}

li,
a {
  text-decoration: none;
  color: black;
}

.titles {
  display: flex;
  position: absolute;
  left: 180px;
  top: 10px;
}

.logo {
  cursor: pointer;
  max-width: 50px;
  border-radius: 50px;
}

.my-name {
  font-family: Satisfy, cursive;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.navbar {
  min-height: 50px;
  color: black;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar a {
  color: black;
  font-size: 17px;
  padding: 0.7rem;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.navbar .menu {
  display: none;
}

.navbar li a {
  font-size: 20px;
  transition: all 0.2s;
}

.navbar li a:hover,
.navbar li a.active {
  color: #13b2ba;
}

.section_images {
  padding: 0 10%;
  background: white;
  box-shadow: lightgrey 1px 1px;
}

.article_imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5rem;
  min-height: 70vh;
  padding: 10rem 12% 7rem;
  background: rgb(243, 243, 243);
}

.about_img {
  max-width: 100%;
  height: 100%;
}

.about_img img {
  width: 28vw;
  height: 55vh;
  object-fit: fill;
  border-radius: 55px;
  transition: all 0.5s ease 0s;
}

.about_img:hover img {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about_content {
  direction: rtl;
}

.about_content h2 {
  text-align: right;
  line-height: 1.2;
  font-size: 2.6rem;
}

.about_content p {
  font-size: 1.3rem;
  margin: 2rem 0px 3rem;
  line-height: 1.7;
  color: rgb(47, 46, 46);
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background: rgb(0, 238, 255);
  border-radius: 4rem;
  border: none;
  margin-left: 23px;
  box-shadow: rgb(0, 238, 255) 0px 0px 1rem;
  font-size: 17px;
  color: rgb(50, 57, 70);
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  box-shadow: none;
}

.footer-div-span {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  color: rgb(243, 243, 243);
  background: rgb(47, 46, 46);
  font-size: 14px;
}

@media screen and (min-width: 330px) and (max-width: 576px) {
  .navbar {
    display: block;
  }

  .navbar a.menu {
    display: block;
  }

  .navbar a {
    display: none;
  }

  .navbar.responsive a {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    align-items: end;
    margin: 2px 10px 0px;
  }

  .titles {
    left: 8px;
  }

  .article_imgs {
    gap: 10px;
  }

  .about_img img {
    width: 70vw;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
    padding: 5rem 4% 7rem;
  }

  .about_content h2 {
    text-align: center;
  }

  .btn {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .navbar {
    display: block;
  }

  .navbar a.menu {
    display: block;
  }

  .navbar a {
    display: none;
  }

  .navbar.responsive a {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    align-items: end;
    margin: 4px 10px 0px;
  }

  .titles {
    left: 50px;
  }

  .article_imgs {
    gap: 10px;
  }

  .about_img img {
    width: 70vw;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
    padding: 5rem 4% 7rem;
  }

  .about_content h2 {
    text-align: center;
  }

  .btn {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar { 
        display: block; 
    }

    .navbar a.menu { display: block;}

    .navbar a { display: none;}

    .navbar.responsive a { display: block;}

    .navbar ul {
        flex-direction: column;
        align-items: end;
        margin: 0 0 0 10px;
    }

    .titles {
    left: 80px;
  }

  .article_imgs {
    gap: 10px;
  }

  .about_img img {
    width: 70vw;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
    padding: 5rem 4% 7rem;
  }

  .about_content h2 {
    text-align: center;
  }
}
